<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.Win.C1FlexGrid.2" publicKeyToken="79882D576C6336DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.20071.324" newVersion="2.6.20071.324"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="C1.Win.C1List.2" publicKeyToken="6B24F8F981DBD7BC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.20071.117" newVersion="2.1.20071.117"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
